#container{
    position: relative;
    border: solid 2px blue;
    width: 400px;
    height: 400px;
}

#box{
    position: absolute;
    background: blueviolet;
    width: 30px;
    height: 30px;
}

#controller{
    position: relative;
    border: solid 2px blue;
    width: 200px;
    height: 100px;
}

.slidecontainer {
    border: solid 2px black;
    width: 400px;
    height: 50px;
    margin: 5px;
    padding: 5px;
}
.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 80%;
    height: 20px;
    border-radius: 5px;
    background: lightgray;
    outline: none;
    opacity: 0.7;
}
.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    border-radius: 5px;
    background: blue;
    cursor: pointer;
}
