body{
    font-family: sans-serif;
}
form{
    background-color: #4caf4f73;
}
input, textarea{
    position: relative;
    left: 10px;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

textarea{
    height: 150px;
    resize: vertical;
}
label{
    padding: 12px;
    display: inline-block;
    color: #4CAF50;

}
input[type=radio],input[type=checkbox]{

}

input[type=submit] {
    width: 200px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}

hr{
    height: 1px;
    width: 90%;
    background-color :#4CAF50 ;
    border: none;
}

.divm{
    border-radius: 5px;
    padding: 20px;
}
.divl{
    float: left;
    margin-top: 5px;
    width: 50%;

}
.divr{
    float: left;
    margin-top: 5px;
    width: 50%;
    border: 1px solid black;

}
